
* {
    user-select:            none;
    -moz-user-select:       none;
    -webkit-user-select:    none;
    -ms-user-select:        none;
}

body, html {
    margin:                 0;
    padding:                0;
    overflow:               hidden;
    background-color:       rgb(235, 242, 255);
    font-family:            -apple-system, helvetica, arial, sans-serif;
}

canvas {
    display:    block;
}

.buttons-bar {
    position:           absolute;
    display:            flex;
    justify-content:    space-between;
    z-index:            1000;
    top:                10pt;
    top:                calc(env(safe-area-inset-top) + 10pt);
    right:              10pt;
    right:              calc(env(safe-area-inset-right) + 10pt);
    width:              fit-content;
}

.bar-button {
    --button-height:
        19.5pt;

    font-size:              8pt;
    box-sizing:             border-box;
    background-color:       rgb(104, 117, 140);
    color:                  white;
    border-radius:          var(--button-height);
    padding:                5pt 9pt 6pt 10pt;
    height:                 var(--button-height);
    max-height:             var(--button-height);
    min-height:             var(--button-height);
    overflow:               hidden;
    letter-spacing:         1pt;
    margin-right:           5pt;
}

.bar-button.red {
    background-color:               red !important;
    color:                          white !important;
    animation:                      lightAlertAnimation 1s forwards infinite;
    animation-timing-function:      linear;
}

@keyframes lightAlertAnimation {
    0% {
        background-color:       rgb(220, 0, 0);
    }
    50% {
        background-color:       rgb(140, 0, 0);
    }
    100% {
        background-color:       rgb(220, 0, 0);
    }
}

@keyframes darkAlertAnimation {
    from {
        background-position-x:      0;
    }
    to {
        background-position-x:      var(--button-height);
    }
}

.bar-button:hover {
    background-color:       black;
    color:                  white;
    cursor:                 pointer;
}

.bar-button:active, .bar-button:focus {
    background-color:       rgb(78, 78, 78);
}

#status {
    background-color:       inherit;
    cursor:                 inherit !important;
    color:                  black;
}

.drawing-cursor {
    cursor:     url("pen.svg") 6 3, crosshair !important;
}

.erasing-cursor {
    cursor:     url("eraser.svg") 7 6, crosshair !important;
}

.pointing-cursor {
    cursor:     default;
}

#help-screen {
    display:                flex;
    background-color:       rgb(104, 117, 140);
    width:                  100vw;
    height:                 100vh;
    z-index:                -2000;
    position:               fixed;
    left:                   0;
    top:                    0;
    overflow:               hidden;
    color:                  red;
    cursor:                 pointer;
}

#help-screen div {
    margin:             auto;
    line-height:        1.5;
    color:              white;
    padding:            30pt;
    border-radius:      10pt;
    max-width:          fit-content;
    max-height:         fit-content;
}

@media (prefers-color-scheme: dark) {
    .bar-button {
        background-color:       #424242;
        color:                  white;
    }

    #status {
        color:      white;
    }

    .bar-button:hover {
        background-color:       #979797;
        cursor:                 pointer;
    }

    .bar-button:active, .bar-button:focus {
        background-color:       #636363;
    }

    body, html {
        background-color:       black;
    }

    .bar-button.red {
        background-color:               #740000 !important;
        color:                          #ffe0e0 !important;
        background-image:               url("erasing.png");
        background-size:                contain;
        background-position:            left center;
        animation:                      darkAlertAnimation 0.5s forwards infinite;
        animation-timing-function:      linear;
    }

    #help-screen {
        background:     black;
    }
}
