
* {
    user-select:            none;
    -moz-user-select:       none;
    -webkit-user-select:    none;
    -ms-user-select:        none;
}

body, html {
    margin:                 0;
    padding:                0;
    overflow:               hidden;
    background-color:       black;
    cursor:                 default;
}

canvas {
    display:    block;
}

.buttons-bar {
    position:           absolute;
    display:            flex;
    justify-content:    space-between;
    z-index:            1000;
    top:                10pt;
    top:                calc(env(safe-area-inset-top) + 10pt);
    right:              10pt;
    right:              calc(env(safe-area-inset-right) + 10pt);
    width:              fit-content;
}

.bar-button {
    --button-height:
        19.5pt;

    font-size:              8pt;
    box-sizing:             border-box;
    font-family:            -apple-system, helvetica, arial, sans-serif;
    background-color:       #424242;
    border-radius:          var(--button-height);
    padding:                5pt 9pt 6pt 10pt;
    height:                 var(--button-height);
    max-height:             var(--button-height);
    min-height:             var(--button-height);
    overflow:               hidden;
    letter-spacing:         1pt;
    color:                  white;
    margin-right:           5pt;
}

.bar-button.red {
    background-color:               #740000 !important;
    color:                          #ffe0e0 !important;
    background-image:               url("erasing.png");
    background-size:                contain;
    background-position:            left center;
    animation:                      alertAnimation 0.5s forwards infinite;
    animation-timing-function:      linear;
}

@keyframes alertAnimation {
    from {
        background-position-x:      0;
    }
    to {
        background-position-x:      var(--button-height);
    }
}

.bar-button:hover {
    background-color:       #979797;
    cursor:                 pointer;
}

.bar-button:active, .bar-button:focus {
    background-color:       #636363;
}

#alert-bar {
    --height-of-alert-bar:
        4pt;
    --alert-bar-base-red-color:
        100;

    position:                       fixed;
    top:                            calc(-2 * var(--height-of-alert-bar));
    left:                           0;
    width:                          100vw;
    height:                         var(--height-of-alert-bar);
    z-index:                        1000;
    background-color:               red;
    transition-duration:            0.4s;
    transition-timing-function:     ease-out;
}

#alert-bar.activated {
    animation:                      alertBarAnimation 0.75s both infinite;
    transition-duration:            0.2s;
    transition-timing-function:     ease-in;
    top:                            0;
}

@keyframes alertBarAnimation {
    0% {
        background-color:       rgb(var(--alert-bar-base-red-color), 0, 0);
    }
    50% {
        background-color:       rgb(255, 0, 0);
    }
    100% {
        background-color:       rgb(var(--alert-bar-base-red-color), 0, 0);
    }
}
